
body{
    margin: 0px;
    padding: 0;
}
.nav-bar{
    background-color: rgb(42,51,66);
}
.page{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(42,51,66);
    margin: 0px 120px 0px 120px;
    

}
.logo-li{
    float: left;
    color: orange;
    padding: 4px 10px;
    
    margin: 4px 0px 1px 10px;
  
   
}
::placeholder {
    color: rgb(187, 184, 184);
    padding: 1px;
}
li{
    float: right;
    color: white;
    padding: 4px 8px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 10px;
    
   
}
.register{
    background-color: red;
    border-radius: 6px;
}
li:hover{
    color: red;
}
a{
    float: right;
    color: white;
    padding: 4px 8px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 10px;
    text-decoration: none;


/* NAV css end */
